.App {
  text-align: center;
  background: grey;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a{
  text-decoration: none;
}

.active {
  color: red;
  background: green;
}

.homeActive {
  background: yellow;
  color: blue;
}
